$primary-color: #fff;
$secondary-color: #ff1990;

$difficulty-color--easy: #c0ff53;
$difficulty-color--medium: #ff9100;
$difficulty-color--hard: #ff1313;

$elevation-color--up: #67ff43;
$elevation-color--down: #ff2e2e;

$gray: #e7e7e7;
